@model SkijumpingTeams.Models.Coach

<div class="content">
        <img src="@Url.Content(Model.PhotoLink)" alt="" height="400" width="300">
        <h3> Coach info</h3>
        <p>
            <span>Name:</span>
            @Html.DisplayFor(modelItem => Model.FirstName)
            <span>@Html.DisplayFor(modelItem => Model.LastName)</span><br />
            <span>Postion:</span>
            @Html.DisplayFor(modelItem => Model.Postion)
            <span>m</span><br />
            <span>Full details:</span>
            @Html.ActionLink("Details", "Details", "Coaches", new { id = Model.ID }, null)
        </p>
</div>