@model SkijumpingTeams.Models.Jumper


<div class="mycard">
    <img src="@Url.Content(Model.PhotoLink)" alt="" height="100" width="60">
    <p class="firstName">
        <span>First Name: </span>
        @Html.DisplayFor(modelItem => Model.FirstName)
    </p>
    <p class="lastName">
        <span>Last Name: </span>
        @Html.DisplayFor(modelItem => Model.LastName)
    <p class="personalBest">
        <span>Personal Best: </span>
        @Html.DisplayFor(modelItem => Model.PersonalBest)
        <span>m</span>
        </p>
    <p class="carrerwins">
        <span>Carrer wins: </span>
        @Html.DisplayFor(modelItem => Model.CarrerWins)
    </p>    
    @Html.ActionLink("Details", "Details", "Teams", new { id = Model.ID }, null)
</div>