@model SkijumpingTeams.Models.Jumper

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <div class="jumpercont">
        <img src="@Url.Content(Model.PhotoLink)" alt="" height="400" width="300">
        <dl class="row">
            <dt >
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.PersonalBest)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.PersonalBest)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.CarrerWins)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.CarrerWins)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.Team)
            </dt>
            <dd >
                <img src="@Url.Content(Model.Team.PhotoLink)" alt="" height="150" width="250">
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
